name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout c칩digo
        uses: actions/checkout@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build da imagem
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/crud-app:latest ./backend

      - name: Push da imagem
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/crud-app:latest

  sonar-analysis:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do reposit칩rio
        uses: actions/checkout@v3
      - name: Copiar c칩digo e docker-compose para servidor remoto
        uses: appleboy/scp-action@v0.1.4
        with:
          host: 201.23.3.86
          username: aluno
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "."
          target: "~/app"

      - name: Executar an치lise SonarQube no servidor remoto
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 201.23.3.86
          username: aluno
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker run -d --name sonarqube -p 9000:9000 sonarqube
            sleep 60  # espera o Sonar subir
            cd ~/app
            sonar-scanner \
              -Dsonar.projectKey=meu-projeto \
              -Dsonar.sources=. \
              -Dsonar.host.url=http://localhost:9000 \
              -Dsonar.login=admin \
              -Dsonar.password=admin
            docker stop sonarqube && docker rm sonarqube

  deploy:
    needs: sonar-analysis
    runs-on: ubuntu-latest
    if: success()
    steps:
      - name: Deploy remoto via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SONAR_HOST_URL }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/app
            docker compose down || true
            docker compose pull
            docker compose up -d